<div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="chapter-title">Title</span>
        </div>
        <input type="text" name="title" id="title" class="form-control"
               required value="<%= chapter.title %>" aria-describedby="chapter-title">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="bookGroupSelect">Books</label>
        </div>
        <select name="book" class="custom-select" id="bookGroupSelect">
            <% books.forEach(book => { %>
                <% if(book.id == chapter.book) { %>
                    <option selected label="<%= book.name %>" value="<%= book.id %>" />
                <% } else { %>
                    <option label="<%= book.name %>" value="<%= book.id %>" />
                <% } %>
            <% }) %>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="chapter-title">Markdown</span>
        </div>
        <textarea name="markdown" id="chapter-markdown"
                  class="form-control" rows="10" cols="50"><%= chapter.markdown %></textarea>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="chapter-updateDate">Update Date</span>
        </div>
        <input type="date" name="updateDate" class="form-control"
               value="<%= chapter.getDate %>"
               aria-describedby="chapter-title">
    </div>
</div>